#kmhLogo, #logo {
	margin-top: -4.5em;
	text-align: center;
}
.bg {
	font-size: 0.6em;
	margin: 0 auto;
	background-color: rgba(192,192,192, 0.5);
	border: 1em solid rgba(255,255,255, 0.5);
	border-radius: 1em;
	height: 10em;
	width: 40vw;
}
.bg:hover {
	border: 1em solid rgba(255,255,255,0.7);
}
#links {
	text-align: center;
	font-size: 0.8vw;
}
td {
	padding: 1em;
}
.link {
	font-size: 5em;
	font-family: "vera-sans";
	position: relative;
	top: 0.4em;
}
a {
	font-style: inherit;
	color: inherit;
	text-decoration: none;
}
body {
	margin: 0;
	padding: 0;
}
#quotes {
	font-family: "balboa-plus-fill";
	font-size: 5.95em;
	position: relative;
	top: -0.01rem;
	top: 0.22em;
}
.quotations {
	font-family: "sutro-deluxe-primary";
	position: relative;
	top: -0.2em;
	padding: 0.2em;
}
.translate {
	font-family: sans-serif;
	font-size: 1em;
	text-shadow: 0.1em 0.1em 0px #ffd07a;
}
.trumphead {
	position: relative;
	bottom: 0.3em;
	right: 0.5em;
	width: 1.4em;
}
.trumptext {
	position: relative;
	bottom: 0.7em;
	font-size: 1.1em;
	font-family: "Comic Sans MS", "sans-serif";
}
.music {
	-webkit-text-stroke: 0.05em black;
	background-image: linear-gradient(to right, #f22, #f2f 14.25%, #22f 28.5%, #2ff 42.75%, #2f2 57%, #2f2 71.25%, #ff2 85.5%, #f22);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}
#octocat {
	height: 1.2em;
	padding-bottom: 0.4em;
}
#gitlogo {
	height: 2em;
	position: relative;
	left: 0.2em;
}
#gitlink {
	position: relative;
	top:-0.01em;
}
#flickrlink {
	position: relative;
	top:-0.01em;
}
#gituser {
	position: relative;
	top: -0.68em;
	left: 0.27em;
	font-family: "courier-std";
}
.at {
	position: relative;
	left: 0.06em;
}
#logocont {
	position: relative;
	top: 2.5em;
	font-size: 1vw
}
#flickruser {
	position: relative;
	top:0.2em;
	left:-0.1em;
	font-family: "courier-std";
	font-size: 0.99em;
}
#flickrlogo {
	height: 1.1em;
	position: relative;
	top: 0.45em;
	left: 0.1em;
}
#cursor, #arrow {
	height: 1.5em;
	padding-left: 0.2em;
	position: relative;
	bottom: 0.15em;
}
#arrow {
	padding-left: 0.5em;
}
#click, #clicker {
	font-family: sans-serif;
	position: relative;
	bottom: 0.5em;
}
#spellinglogo {
	height: 2em;
	position: relative;
	bottom: 0.4em;
	left: 0.1em;
}
#psimg {
	width: 1.5em;
	position: relative;
	bottom: 0.1em;
	padding-left: 0.4em;
}
.connect4 {
	font-size: 1.5em;
	font-family: urbana, sans-serif;
	font-style: normal;
	font-weight: 700;
	position: relative;
	bottom: 0.25em;
}
.single-column {
	position: relative;
	left: 25%;
}
footer {
	font-size: 1em;
	color: rgba(192,192,192, 0.99);
	font-family: "vera-sans";
	text-align: center;
	position: fixed;
	bottom: 0.5em;
	width: 100%;
}
#chemlogo {
	padding-top: 1.5em;
	height: 7em;
}
