html, body {
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: #fbfbfb;
}

#mclovivian {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 1.666%;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

#molang {
	height: 5em;
	pointer-events: all;
	cursor: pointer;
	position: absolute;
	left: calc(-1.3em - 1.666vw);
	top: 10em;
	animation: wiggle 5s infinite alternate;
	transition: left 1s;
}

#molangheart {
	position: absolute;
	height: 5em;
	top: -5em;
	left: calc(50% - 4em);
	transition: top 2s;
}

#molangheart.center {
	top: 8em;
	left: calc(50% - 4em);
}

#molang.done {
	left: -6em;
	animation: none;
}

.heart {
	width: 2em;
	position: absolute;
	top: 12.5em;
	left: -5em;
	transition: width 1s, left 1s;
}

.heart.name {
	width: 10vw;
}

.heart.name:nth-child(1) { left: 10%; }
.heart.name:nth-child(2) { left: 23.333%; }
.heart.name:nth-child(3) { left: 36.666%; }
.heart.name:nth-child(4) { left: 50%; }
.heart.name:nth-child(5) { left: 63.333%; }
.heart.name:nth-child(6) { left: 76.666%; }

@keyframes wiggle {
	0% {
		transform: rotate(30deg);
		animation-timing-function: ease;
	}

	20% {
		transform: rotate(30deg);
		animation-timing-function: ease;
	}

	30% {
		transform: rotate(50deg);
		animation-timing-function: ease;
	}

	40% {
		transform: rotate(20deg);
		animation-timing-function: ease;
	}

	50% {
		transform: rotate(50deg);
		animation-timing-function: ease;
	}

	60% {
		transform: rotate(30deg);
		animation-timing-function: ease;
	}

	100% {
		transform: rotate(30deg);
		animation-timing-function: ease;
	}
}

main {
	padding: 1em 5em;
	max-width: 80em;
	margin: 0 auto;
}

* {
	font-family: yrsa, serif;
}

.subtitle {
	font-weight: normal;
}

.grid {
  display: flex;
}

.col {
	flex: 1;
	height: 5rem;
	border-style: solid;
	border-width: 1px;
	margin: 2rem 0 0 2rem;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	text-decoration: none;
	color: inherit;
	box-shadow: inset 0 0 0 100em rgba(255, 255, 255, 0.8);
	background-image: url(bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-color: black;
	border-radius: 0.25rem;
}

.col img {
	max-height: 100%;
	max-width: 90%;
	object-fit: contain;
}

.col span {
	font-size: 2em;
}

.noto span {
	font-family: 'Noto Sans', sans-serif;
}

.col:first-child {
	margin-left: 0;
}

.grid:last-child .col {
	margin-bottom: 2rem;
}

.big .col {
	font-size: 2em;
	height: 6.5rem;
}

.col {
	font-size: 2em;
	padding: 0.5em 1em;
}

.col:hover {
	box-shadow: inset 0 0 0 100em rgba(249, 249, 249, 0.8);
}

.small .col {
	font-size: 1em;
	padding: 1.5rem;
	height: 2.5rem;
}

.col h4 {
	margin-bottom: 0em;
	margin-top: 0.5em;
}

.col p {
	font-size: 0.7em;
	text-align: center;
}

.col:last-child {
	border-right: 1px solid black;
}

p {
	font-size: 1.4em;
}

h1 {
	font-size: 3em;
	margin-top: 0.6em;
}

a {
	text-decoration: none;
	color: #5c8196;
}

.twitter, .github {
	width: 1em;
	height: 0.8em;
	position: relative;
}

.twitter {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 335 276" fill="rgb(92,129,150)"><path d="m302 70a195 195 0 0 1 -299 175 142 142 0 0 0 97 -30 70 70 0 0 1 -58 -47 70 70 0 0 0 31 -2 70 70 0 0 1 -57 -66 70 70 0 0 0 28 5 70 70 0 0 1 -18 -90 195 195 0 0 0 141 72 67 67 0 0 1 116 -62 117 117 0 0 0 43 -17 65 65 0 0 1 -31 38 117 117 0 0 0 39 -11 65 65 0 0 1 -32 35"/></svg>');
	background-repeat: no-repeat;
	display: inline-block;
	background-size: contain;
	padding-right: 0.04em;
	top: 0.1em;
}

.github {
	background-image: url('data:image/svg+xml,<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="rgb(92,129,150)"><title>GitHub icon</title><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>');
	background-repeat: no-repeat;
	display: inline-block;
	background-size: contain;
	top: 0.09em;
}

@media only screen and (max-width: 1500px) {
	.small .col {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 1100px) {
	.grid {
    	display: block;
  	}
  	.col {
  		margin-left: 0;
  	}
}

@media only screen and (max-width: 500px) {
	main {
		padding: 1em 2em;
	}
	.big .col {
		height: 8rem;
	}
}
